body {
  margin: 0em;
}

#fondo4{
  position: relative;
  margin: 0;
  background-image: url(FOTOS/FONDO/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10em;
}

.blanco{
  background-color: white;
  margin-top: 4em;
  margin-bottom: 0em;
  margin-right: 6em;
  margin-left: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.boxmodel-pakrobot{
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;

  border-color: gray;
  border-width: 9px;
  border-style: inset;
}

.letra-introduccion6 h1 {
  text-align: center;
}

.letra-introduccion6{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: white;
}

.foto-robot {
  margin: 0em;
  padding: 0em;
  overflow-x: auto;
  white-space: nowrap;
}

.foto-robot img {
  height: 25em;
  width: auto;
}
