body {
  margin: 0em;
}

/* /PAK ROBOT */

#fondo2{
  position: relative;
  margin: 0em;
  padding: 0em;
  background-image: url(FOTOS/FONDO/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10em;
}

.blanco{
  background-color: white;
  margin-top: 4em;
  margin-bottom: 0em;
  margin-right: 6em;
  margin-left: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.letra-titulo{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: white;
}

.letra-introduccion2 h2{
  text-align: center;
}

.letra-introduccion2 p{
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion2{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: white;
}

.letra-introduccion3 h2{
  text-align: center;
}

.letra-introduccion3 p{
  border: 0.5em solid white;
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion3{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.letra-introduccion7 h4{
  text-align: center;
}

.letra-introduccion7 p{
  border: 0.5em solid white;
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion7 {
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.letra-introduccion8 h4{
  text-align: center;
}

.letra-introduccion8 p{
  border: 0.5em solid white;
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion8 {
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.letra-introduccion9 h4{
  text-align: center;
}

.letra-introduccion9 p{
  border: 0.5em solid white;
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion9 {
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.letra-introduccion4 h2{
  text-align: center;
}

.letra-introduccion4 p{
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion4{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: white;
}

.letra-introduccion5 h2{
  text-align: center;
}

.letra-introduccion5 p{
  text-align: justify;
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
}

.letra-introduccion5{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: white;
}

.letra-introduccion6 h2{
  text-align: center;
}

.letra-introduccion6 p{
  margin: 0em;
  padding-top: 0.25em;
  padding-bottom: 1.25em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: justify;
}

.letra-introduccion6{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: white;
}
