body {
  margin: 0em;
}

#fondo3{
  position: relative;
  margin: 0;
  background-image: url(FOTOS/FONDO/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10em;
  padding-right: 0em;
  padding-left: 0em;
}

.letra-introduccion{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

/* .letra-introduccion h2{
  margin-top: 0.5em;
  margin-bottom: 1em;
} */

/* .letra-introduccion6 img{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
} */

#dosfotos {
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 3em;
  margin-left: 3em;
  padding-bottom: 1em;
  color: white;
}
#tresfotos {
  margin: 0 1em;
  overflow-x: auto;
  white-space: nowrap;
}

#tresfotos img {
  height: 25em;
  width: auto;
}

/* .letra-introduccion7{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion8{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion9{
  position: relative;
  text-align: left;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion10{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion11{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion12{
  text-align: center;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion13{
  text-align: justify;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion14{
  text-align: justify;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
}

.letra-introduccion15{
  text-align: justify;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 6em;
  margin-left: 6em;
  padding: 1em;
  color: black;
} */

.card img {
  text-align: center;
  height: 17.5em;
  width: 17.5em;
}
