.proces1 {
  text-align: left;
}

.proces2{
  text-align: center;
}
.center {
text-align: center;
background-color: yellow;
}

.fotomida img{
  height: 12em;

padding-left: 50px;
width: auto;
}
.box-radius{
border-color: gray;
border-width: 9px;
border-style: inset;
}
