/* Declaring custom properties */
* {
  box-sizing: border-box;
}

/* /inicio */

body {
  margin: 0em;
}

#logo{
  background-color: #454545;
}

#logo-description{
  padding-top: 0.50em;
  padding-bottom: 2em;
}

#logo-description img{
  position: relative;
  padding-left: 6em;
  height: 200px;
  width: auto;
  z-index: 10;
}

menu {
  padding-left: 0;
  margin: 0;
}

#menu{
  position: relative;
  text-align: center;
  margin-right: 6em;
  margin-left: 6em;
  top: -1.70em;
  background-color: white;
  z-index: 5;
}

#menu ul{
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#menu li {
  display: inline-block;
  vertical-align: text-top;
}

#menu p{
margin-right: 2em;
margin-left: 2em;
margin-bottom: 0;
}

#claro{
  position: relative;
  text-align: center;
  color: white;
}

#backimg{
  position: relative;
  margin-top: -20em;
  /* margin-top: -3.50em; */
  background-image: url(FOTOS/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20em;
  padding-bottom: 10em;
  /* padding-top: 4em;
  padding-bottom: 6em; */
  padding-right: 3em;
  padding-left: 3em;
}

#claro-centrado {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-right: 32.5%;
  margin-left: 32.5%;
  background-color: rgba(0, 0, 0, 0.7);
}

#claro-centrado::after {
  content: "";
  clear: both;;
  display: table;
}

#claro-centrado h1 {
  margin-top: 0;
  margin-bottom: 1em;
}

#claro-centrado p {
  margin-top: 0;
  margin-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: justify;
}

#claro-centrado button {
  height: 4em;
  width: 8em;
  background-color: #f8c420
}

/* footer */

#footer {
  /* background-color: #454545; */
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1em;
  padding-bottom: 2em;
}

#contacto {
  padding-left: 6em;

}

#contacto h4 {
  text-align: left;
}


#contacto p {
  text-align: left;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.25em;
}

#redessociales {
  text-align: left;
}

#redessociales ul {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.fa-brands{
  padding-left: 0
}

#uno{
  margin-top: -2.25em;
  padding-left: 1.5em;
}

#dos{
  margin-top: -2.25em;
  padding-left: 1.5em;
}

#tres{
  margin-top: -2.25em;
  padding-left: 1.5em;
}

#licencia {
  position: relative;
  text-align: right;
  padding-right: 6em;
}

#licencia img {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* /PAK ROBOT */
.letra-titulo{
  text-align: center;
}

.boxmodel-pakrobot{
  padding-left: 5em;
  border-color: gray;
  border-width: 9px;
  border-style: inset;
  width: 30%;
  height: auto;
  margin-left: 50em;
}
.foto-robot img{
  position: relative;
  height: auto;
  width: 100%;

}
.letra-introduccion1{
text-align: center;
}
.letra-introduccion2{
text-align: center;
}
.letra-introduccion3{
  text-align: center;
}
.letra-introduccion4{
  text-align: center;
}
.letra-introduccion5{
  text-align: center;
}



/* /proceso */

.proces1 {
  text-align: left;
}

.proces2{
  text-align: center;
}
.center {
text-align: center;
background-color: yellow;
}

.fotomida img{
  height: 12em;

padding-left: 50px;
width: auto;
}
.box-radius{
border-color: gray;
border-width: 9px;
border-style: inset;
}
